[Desktop Entry]
Version=1.0
Type=Application
Name=DropPrint
Comment=Drag and drop printing utility for Linux
TryExec=dropprint
Exec=dropprint
Icon=dropprint
Terminal=false
Categories=Office;Utility;Printing;
StartupNotify=true
